body {
	background: url('background.jpg');
}

h1.pageHeader {
    text-align: center;
    display: block;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding-left: .25em;
}

table.callboard {
       	background-color: rgba(0,0,0,0.6);
	color: #99aaff;
	font-size: 3em;
}

table#callboard_1 {
    float: left;
}

table#callboard_2 {
    float: right;
}

table.callboard {
    margin: 1em;
}

.oddRows {
       	background-color: #99aaff;
	color: #000;
	border-color: #99aaff;
}


